<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/Fragments/head :: head}" xmlns:th="http://www.thymeleaf.org"></head>

<body>

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/nav-bg.jpg" alt="">
    </div>
    <header th:replace="~{/Fragments/header :: header}"></header>
  </div>
  <!-- login section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Login
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container mb-3">
            <form action="#" method="post" th:action="@{/login}" th:object="${account}">
              <div>
                <input id="email" name="email" type="email" class="form-control" placeholder="Your email" required/>
              </div>
              <div>
                <input id="password" name="password" type="password" class="form-control" placeholder="Your password" required/>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="remember-me"/>
                <label class="form-check-label" for="flexCheckDefault">
                  Remember-me
                </label>
              </div>
              <div class="btn_box">
              <button type="submit">
                Login
              </button>
              </div>
            </form>
          </div>
          <a th:href="@{/forgot-password}" >Fogot password</a>
        </div>
      </div>
    </div>
  </section>
  <!-- end login section -->

  <!-- end client section -->

  <footer th:replace="~{/Fragments/footer :: footer}">
</body>

</html>