<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head th:replace="~{/Fragments/head :: head}"></head>

<body>

  <div class="hero_area">
    <div class="bg-box">
      <img th:src="@{images/nav-bg.jpg}" alt="">
    </div>
    <header th:replace="~{/Fragments/header :: header}"></header>
  </div>
  <!-- Profile section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Your profile
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <div class="mb-3">
              <div width="215" height="200">
                <img th:src="@{${account.photo}}" alt="Photo profile" class="img-thumbnail rounded-circle" width="215" height="200">
              </div>
              <div th:if="${error ne null}" class="alert alert-danger"
                role="alert">File upload error</div>
              <div th:text="${message}" th:if="${message}" class="alert alert-success"
                role="alert"></div>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadPhotoModal">
                Upload Photo
              </button>
            </div>
            <form action="#" method="post" th:action="@{/profile}" th:object="${account}">
              <div>
                <div th:if="${#fields.hasErrors('email')}" th:error="*{email}" class="alert alert-danger" role="alert">
                  Email error</div>
                <input id="email" name="email" type="email" class="form-control" placeholder="Your email"
                  th:field="*{email}" />
              </div>
              <div>
                <div th:error="*{password}" th:if="${#fields.hasErrors('password')}" class="alert alert-danger"
                  role="alert">Password error</div>
                <input id="password" name="password" type="password" class="form-control" placeholder="Your password"
                  th:field="*{password}" />
              </div>
              <div>
                <div th:error="*{firstname}" th:if="${#fields.hasErrors('firstname')}" class="alert alert-danger"
                  role="alert">Firstname error</div>
                <input id="firstname" name="firstname" type="text" class="form-control" placeholder="Your firstname"
                  th:field="*{firstname}" />
              </div>
              <div>
                <input id="lastname" name="lastname" type="text" class="form-control" placeholder="Your lastname"
                  th:field="*{lastname}" />
              </div>
              <div>
                <input id="age" name="age" type="number" class="form-control" min="0" value="*{age}" />
              </div>
              <div>
                <input id="birthdate" name="birthdate" type="date" class="form-control" placeholder="Your birthdate"
                  value="*{birthdate}" />
              </div>
              <div>
                <select class="form-select form-control" aria-label="Default select example" name="gender">
                  <option th:if="${account.gender}" value="${account.gender}" th:text="${account.gender}"></option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="others">Others</option>
                </select>
              </div>
              <div class="btn_box">
                <button type="submit">
                  Update profile
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="uploadPhotoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Upload image</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h3>Before image</h3>
              <img th:src="@{/images/person_img.png}" alt="Photo profile" class="img-thumbnail rounded-circle">
              <hr/>
              <h3>After image</h3>
              <form action="#" method="post" th:action="@{/profile/photo}" enctype="multipart/form-data">
                <input type="file" class="form-control-file" name="file" accept="image/png, image/jpg, image/jpeg"/>
                <button type="submit" class="btn btn-primary">Upload photo</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end profile section -->

  <!-- end client section -->

  <footer th:replace="~{/Fragments/footer :: footer}">
</body>

</html>