<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="~{/Fragments/head :: head}"></head>

<body>

    <div class="hero_area">
        <div class="bg-box">
            <img th:src="@{/images/nav-bg.jpg}" alt="">
        </div>
        <header th:replace="~{/Fragments/header :: header}"></header>
    </div>
    <!-- slider section -->
    <section class="food_section layout_padding">
        <div class="container">
            <div class="col-md-6">
                <div class="form_container">
                    <h2>
                        Post add
                    </h2>
                    <form method="post" th:action="@{/post/add}" th:object="${post}">
                        <div class="form-group">
                            <input type="hidden" name="account" id="account" th:field="${post.account}"/>
                            <div th:error="*{title}" th:if="${#fields.hasErrors('title')}" class="alert alert-danger" role="alert">Title error</div>
                            <input id="title" name="title" type="text" class="form-control"
                                placeholder="Post's title" required/>
                        </div>
                        <div  class="form-group">
                            <!-- <div th:error="*{body}" th:if="${#fields.hasErrors('body')}" class="alert alert-danger" role="alert">Body error</div> -->
                            <textarea id="editor" th:field="${post.body}" name="body" type="textarea" class="form-control" rows="7" 
                            placeholder="Your body"></textarea>
                        </div>
                        <div class="btn_box">
                            <button type="btn" class="btn btn-primary">
                                Add post
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- end client section -->

    <footer th:replace="~{/Fragments/footer :: footer}">
</body>

</html>