<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="~{/Fragments/head :: head}"></head>

<body>

  <div class="hero_area">
    <header th:replace="~{/Fragments/header :: header}"></header>
  </div>
  <!-- slider section -->
  <section class="slider_section">
    <div id="container">

    </div>
  </section>

  <!-- end client section -->

  <footer th:replace="~{/Fragments/footer :: footer}">
</body>

</html>