<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="/Fragments/head :: head"></head>

<body>

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/nav-bg.jpg" alt="">
    </div>
    <header th:replace="/Fragments/header :: header"></header>
  </div>
  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Register account
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="#" method="post" th:action="@{/register}" th:object="${account}">
              <div>
                <input id="email" name="email" type="email" class="form-control" placeholder="Your email" />
              </div>
              <div>
                <input id="password" name="password" type="password" class="form-control" placeholder="Your password"/>
              </div>
              <div>
                <input id="firstname" name="firstname" type="text" class="form-control" placeholder="Your name" />
              </div>
              <div class="btn_box">
                <button type="submit">
                  Register
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

  <!-- end client section -->

  <footer th:replace="/Fragments/footer :: footer">
</body>

</html>